on: 
  push:
  workflow_dispatch:

name: master
jobs:
  run_action:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Copy libraries
        shell: cmd
        run: |
          copy C:\Windows\System32\wmi.dll files
          cd files
          mkdir subdirectory
          copy C:\Windows\System32\wmi.dll subdirectory
      - name: Run the action with missing certificate
        uses: ./
        with:
          certificate: ''
          recursive: false
          folder: 'files'
      - name: Run the action
        uses: ./
        with:
          certificate: '${{ secrets.CERTIFICATE }}'
          password: '${{secrets.CERTIFICATE_PASSWORD}}'
          certificatesha1: '${{secrets.CERTIFICATE_THUMBPRINT}}'
          certificatename: '${{secrets.CERTIFICATE_NAME}}'
          timestampUrl: "http://timestamp.digicert.com"
          folder: 'files'
          recursive: true
